<main class="container">
  <div class="sidebar">
    <app-app-user-kitten [kittens]="userKittens"></app-app-user-kitten>
  </div>
  <div class="content">
    <div class="create-kittens">
      <div>
        <app-app-create-kitten (kittenCreated)="onKittenCreated($event)"></app-app-create-kitten>
      </div>
    </div>
    <div class="available-kittens">
      <div>
        <app-app-list-kitten [kittens]="kittens" (adoptedKitten)="adoptKitten($event)"></app-app-list-kitten>
      </div>
    </div>
  </div>
</main>
